@import '../../styles/variables';

.Favorites {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // top: 10px;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 100;
  background-color: $bgMain;
  box-sizing: border-box;
  margin: 0px;
  // display: none
  // h3 {
  //   color: $accentDark;
  // }
}

@media (min-width: 760px) {
  .Favorites {
    position: relative;
    top: 0px;
    // margin-left: 280px;
    height: calc(100vh - 99px);
  padding: 32px 16px;

  }
}
