@import '../../styles/variables';

.RestaurantUrl {
  a:link {
    cursor: pointer;
  }
  
  a:visited {
    cursor: pointer;
  }

  .link-disabled {
  opacity: 0.5;
  }

  
}
// a:hover {
//     i: {color: $accentDark !important;}
//   }