@import '../../styles/variables';

.SingleRestaurant {
  font-size: 1.1rem;
  color: $textMain;
  background-color: white;
  .rest-img {
    overflow: hidden;
          img {
            width: 100%; /* width of container */
            height: 250px; /* height of container */
            object-fit: cover;
            object-position: 50%; 
          }
    }
    
    .rest-body {
      margin-left: 10vw;
      margin-right: 10vw;
      display: flex;
      flex-direction: column;

      .rest-body-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .categories {
          font-weight: 600;
          // color: grey;
          .open-now {
            color: $accentDark;
            font-weight: normal;
          }
        }

        .location {
          color: $textMuted;
        }

        .rest-hours {
          border: 1px solid $accentLight;
        }

        .rest-body-top-r {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 100%;
          width: 250px;
          
          .controls {
            padding: 0px;
            display: flex;
            justify-content: space-between;
          }

        }
      

      }

        .rest-body-btm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

          .rest-body-btm-r {
            width: 250px;
          }
        
        }
        
    }

    .submit-link {
      a {
        font-size: 0.9rem;
        color: $textMuted;
      }
    }
    .submit-link:hover {
      a {
      color: $textMain;
      cursor: pointer;
    }
    }
}

@media (max-width: 759px) {
  .SingleRestaurant {

    .rest-body {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 0px 15px 15px;;

      .rest-body-top {
        // background-color: lightblue;
        display: block;
        // display: none;
        .rest-body-top-l {
          // background-color: pink;

        }
        .rest-body-top-r {
        // background-color: lightgreen;
          // display: none;
          min-height: 0;
        }

      }
      .rest-body-btm {
        // background-color: lightgrey;
        display: flex;
        flex-direction: column;
        justify-items: reverse;

      }
    }
        .LinksMenu, .Schedule {
          width: 95vw;
          margin: 0;
        }

  }
}