.SearchBar {
  margin-left: 5px;

  #location-input {
    width: 350px;
  }
  
  .filled { 
    ::-webkit-input-placeholder {
      color: black;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: black;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: black;  
    }

    :-ms-input-placeholder {  
      color: black;  
    }}
}

form {
  margin: 0 !important;
  input[type="search"] {
    // font-size:12px;
    max-width: 25vw !important;
  }
}


@media (max-width: 760px) {
  .SearchBar {
    #location-input {
      width: 40vw !important;
    }

    form {
      margin: 0 !important;
      input[type="search"] {
        font-size:12px;
        max-width: 35vw !important;
      }
    }
  }
}


