@import '../../styles/variables';

.Navbar {
  height: 99px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bgAlt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 200;
  color: $textNav;
  
  a:link {
    text-decoration: none;
    color: $textNav;
  }
  
  a:visited {
    text-decoration: none;
    color: $textNav;
  }

  .logo {
    display: flex;
    flex-wrap: nowrap;
  }

  #logo {
    color: $textNav;
    // font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
  }
  
  #logo:hover {
    color: $textMuted;
    i {
      color: $textNav;
    }
  }

  .tagline {
    color: $textMuted;
  }
}

.navbar-middle {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.location-controls {
  display: flex;
  align-items: center;
}

// .Navbar nav {
//   height: 100%;
// }

// .NavbarLogo {
//   height: 80%;
// }

@media (max-width: 759px) {
  .DesktopOnly {
    display: none;
  }
  .Navbar {
    position: absolute;
    height: 80px;
    // flex-direction: column;

    padding: 0;
    display: grid;
    grid-template-areas:
      'navtopleft navtopright'
      'navbottom navbottom';
    grid-gap: 10px;

    .logo { 
      grid-area: navtopleft;
    }
    .userMenu { 
      grid-area: navtopright; 
      margin-left: auto; 
      margin-bottom: auto;
      padding-top: 5px;

    }
    .navbar-middle { 
      grid-area: navbottom; 
      margin: auto;
      width: 100%;
      padding: 0;
      background-color: $bgAlt;
    }
  }
}