@import '../../styles/variables';

.LinksMenu {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.04);

  i {
    color: $accentDark;
    margin-right: 5px;
  }
  
  a:link {
    text-decoration: none;
    color: black
  }
  
  a:visited {
    text-decoration: none;
    color: black
  }

  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  li {
    padding: 8px 12px;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
    color: $accentDark;

    // i {
    // }
  }
}
