@import '../../styles/variables';

.Filters {
  background-color: $bgAlt;
}

.Filters {
  position: fixed;
  width: 280px;
  // max-width: 70%;
  height: 100%;
  left: 0;
  top: 99px;
  z-index: 200;
  background-color: $bgAlt;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  overflow: scroll;
  color: $textNav;

  .filter-switch:hover {
    color: $textMuted;
    color: $bgMain;
    cursor: pointer;
  }

  .results-count {
    color: $accentLight;
    font-weight: bold;
  }
}

@media (max-width: 760px) {
  .Filters {
    display: none;
    top: 100px;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}