@import '../../styles/variables';

.YelpSearch {
  background-color: $bgMain;
  // width: 100vw;
  margin: 0;
  padding: 0;

  form {
    border: 1px solid $textMain;
    margin: 15px;
    padding: 20px;
    background-color: white;
  }

  input[type="checkbox"]{
    width: 15px; /*Desired width*/
    height: 15px; /*Desired height*/
  }
}